* {
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(255, 255, 255);
    overscroll-behavior: none;

}

.nav-container {
    background-color: #BEB7A4;
    width: 100%;
    height: 100px;
    left: 0px;
    right: 0px;
    top: 0px;
    overflow: hidden;
    position: fixed;
}

.navbar {
    display: flex;
    justify-content: right;
    font-style: normal;
    /* text-align: right;
    vertical-align: middle;
    line-height: 100px; */
}


ul {
    display: block;
    max-height: fit-content;
    position: fixed;
}

ul li {
    list-style: none;
    display: inline-block;
}

ul li a {
    text-decoration-line: none;
    display: block;
    color: white;
    font-size: 24px;
    top: 50px;
    padding: 35px 25px;
}

ul li a:hover {
    text-decoration-line: underline;
    background-color: rgba(0, 0, 0, 0.09);
}

.container {
    margin-top: 100px;
}