* {
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(255, 255, 255);
    overscroll-behavior: none;
   }

   /* dog image */
.dog-image img{

    display: block;
    margin: auto;
  
}

.fixed-navbar {
    background-color: #BEB7A4;
    width: 100%;
    height: 100px;
    left: 0px;
    right: 0px;
    top: 0px;
    overflow: hidden;
    position: fixed;
}

.navbar {
    float: right;
    font-style: normal;
    justify-content: right;
    position: relative;
    height: 100%;
    width: 550px;
    margin-right: 10px;
    /* text-align: right;
    vertical-align: middle;
    line-height: 100px; */
}


.navbar ul li {
    list-style: none;
    display: inline-block;
}

.navbar ul li a {
    text-decoration-line: none;
    display: block;
    color: white;
    font-size: 24px;
    top: 50px;
    padding: 38px 25px;
    height: 100%;
}

.navbar ul li a:hover {
    text-decoration-line: underline;
    background-color: rgba(0, 0, 0, 0.09);
}

.company-name-div {
    float: left;
    position: relative;
    height: 100%;
    width: 30%;
    margin-left: 20px;
}

.company-name-div h1 {
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

.company-name-div h1 a {
    text-decoration-line: none;
    color: white;
}


.container {
    margin-top: 100px;
    

    /* center the content and use in home page */
    /* width: 1200px;
    margin: auto; */
    
    
}

/* donation botton */
.fixed-donation {
    position: fixed;
    left: 50%;
    margin-left: 600px;
    top: 50%;
    
}
.fixed-donation img {
    width: 90px;
    height: 80px;
    
    
} 